
@model IEnumerable<ArtworkModel>
@{
    ViewData["Title"] = "Home Page";
}
<section id="primary" class="content-full-width">
    <div class="dt-sc-hr-invisible-small"></div>
    <div class="fullwidth-section">
        <div class="container">
            <div class="main-title animate" data-animation="pullDown" data-delay="100">
                <h2 class="aligncenter">Portfolio</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
            </div>
        </div>
        <article style="margin:50px">
            <div class="dt-sc-one-column column first">
                <div class="recent-gallery-container">
                    <ul class="recent-gallery">
                        @foreach (var item in Model)
                        {
                            <li> <img src="@item.Image" alt="image" style="height: 500px"/> </li>
                        }
                    </ul>
                    <div id="bx-pager">

                        @foreach (var item in Model)
                        {
                            <a href="#" data-slide-index="0"><img src="@item.Image" alt="image" style="height: 100px"/></a>
                        }
                    </div>
                </div>
            </div>
            <div class="dt-sc-hr-invisible-small"> </div>
        </article>


        @* About me *@
        <div class="fullwidth-section">
            <div class="container">
                <div class="main-title animate" data-animation="pullDown" data-delay="100">
                    <h2 class="aligncenter"> About Me </h2>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                </div>
                <div class="about-section">
                    <div class="dt-sc-one-half column first">
                        <img src="images/about.png" title alt>
                    </div>
                    <div class="dt-sc-one-half column">
                        <h3 class="animate" data-animation="fadeInLeft" data-delay="200"> A Little Intro</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
                        <h3 class="animate" data-animation="fadeInLeft" data-delay="300">My Exhibitions</h3>
                        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, Lorem ipsum dolor quis nostrud exercitation ullamco</p>
                        <h3 class="animate" data-animation="fadeInLeft" data-delay="400">Newsletter</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                        <form method="post" class="mailchimp-form dt-sc-three-fourth" name="frmnewsletter" action="https://wedesignthemes.com/html/redart/default/php/subscribe.php">
                            <p class="input-text">
                                <input class="input-field" type="email" name="mc_email" value required />
                                <label class="input-label">
                                    <i class="fa fa-envelope-o icon"></i>
                                    <span class="input-label-content">Mail</span>
                                </label>
                                <input type="submit" name="submit" class="submit" value="Subscribe" />
                            </p>
                        </form>
                        <div id="ajax_subscribe_msg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dt-sc-hr-invisible-small"></div>
</section>



